.*.swp
*.egg
*.egg-info
*.pyc
/.coverage
/.test
/.testrepository
/.tox
/AUTHORS
/build/*
/ChangeLog
/coverage*.xml
/dist/*
/doc/build/*
/junit*.xml
/MANIFEST

# Unit test / coverage reports
cover/

/.stestr
