*.egg
*.egg-info
*.pyc
/.tox
.*.swp
/build/*
/MANIFEST
/dist/*
/doc/build/*
/.test
/.testrepository
/MANIFEST
/.coverage
/coverage*.xml
/junit*.xml

# Unit test / coverage reports
cover/

/ChangeLog
/AUTHORS
